@using CourseManagementWebClientWebClient.Data;
@model BussinessObject.DTOs.CourseDTO

@{
    ViewData["Title"] = "Details";
    List<String> roles = (List<String>)ViewData["UserRoles"];
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    <hr />
    <p>
        <a asp-controller="Topic" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary">Add Topic</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    TopicName
                </th>
                <th>
                    Teaching-Type
                </th>
                <th>
                    Description
                </th>
                <th>
                    Student Materials
                </th>
                <th>
                    Student's Task
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Topics)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.teachingType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaterialDTO.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentTask)
                    </td>
                    <td>
                        @if (item.MaterialDTO == null)
                        {
                            <a asp-controller="Topic" asp-action="UploadMaterial" asp-route-id="@item.Id">
                                Upload Material |
                            </a>
                        }
                        @if (roles != null && (roles.Contains(Role.SUPERADMIN.ToString())
                       || roles.Contains(Role.TEACHER.ToString())))
                        {
                            <a asp-controller="Topic" asp-action="Edit" asp-route-id="@item.Id">
                                Edit |
                            </a>
                        }

                        <a asp-controller="Topic" asp-action="Details" asp-route-id="@item.Id">
                            Details
                        </a> |
                        @if (roles != null && (roles.Contains(Role.SUPERADMIN.ToString())
                       || roles.Contains(Role.TEACHER.ToString())))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                Delete |
                            </a>
                        }
                        @if (item.MaterialDTO != null)
                        {
                            <a asp-controller="Topic" asp-action="Dowload" asp-route-id="@item.Id">
                                Dowload Material
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
