@model BussinessObject.DTOs.CourseDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-check" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <hr />
    <table class="table">
        <p>
            <a asp-controller="Topic" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary">Add Topic</a>
        </p>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    TopicName
                </th>
                <th>
                    Teaching-Type
                </th>
                <th>
                    Description
                </th>
                <th>
                    Student Materials
                </th>
                <th>
                    Student's Task
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Topics)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.teachingType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaterialDTO.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentTask)
                    </td>
                    <td>
                        @if (item.MaterialDTO == null)
                        {
                            <a asp-controller="Topic" asp-action="UploadMaterial" asp-route-id="@item.Id">
                                Upload Material |
                            </a>
                        }
                        <a asp-controller="Topic" asp-action="Edit" asp-route-id="@item.Id">
                            Edit
                        </a> |
                        <a asp-controller="Topic" asp-action="Details" asp-route-id="@item.Id">
                            Details
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            Delete
                        </a>
                        @if (item.MaterialDTO != null)
                        {
                            <a asp-controller="Topic" asp-action="Dowload" asp-route-id="@item.Id">
                                Dowload Material
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
